fastapi # asgi web server
fluent-logger # event logging
inflection # casing
pika # rabbitmq
psycopg2 # postgresql
pydantic # models
requests # http requests
sqlalchemy # orm
uvicorn # asgi
yoyo-migrations==8.2.0 # db migrations